.app-download h2 {
    font-weight: 500;
    font-size: max(3vw, 20px);
}

.download-links img {
    width: max(30vw, 120px);
    max-width: 230px;
    transition: 0.5s;
}

.download-links img:hover {
    transform: scale(1.05);
}

@media (max-width:1050px) {
    .app-download {
        margin-top: 20px;
    }

    .download-links {
        gap: 10px;
    }
}