.explore-menu h2 {
    color: #262626;
    font-weight: 500;
    font-size: max(2vw, 18px);
}

.explore-menu p {
    max-width: 65%;
    color: #808080;
}

.explore-menu-list {
    margin: 20px 0px;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-item img {
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.explore-menu-item h3 {
    color: #747474;
    font-size: max(1.2vw, 14px);
    cursor: pointer;
}

.explore-menu hr {
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.explore-menu-item .active {
    border: 4px solid tomato;
    padding: 2px;
}

@media (max-width:1050px) {
    .explore-menu p {
        max-width: 100%;
        font-size: 14px;
    }

    .explore-menu-list {
        gap: 10px;
    }
}