.header {
    height: 34vw;
    margin: 30px auto;
    background: url("/header_img.png") no-repeat;
    background-size: contain;
    position: relative;
}

.header-contents {
    position: absolute;
    left: 6vw;
    bottom: 10%;
    max-width: 50%;
    animation: fadeIn 3s;
}

.header-contents h1 {
    font-size: max(4vw, 22px);
    font-weight: 600;
    color: white;
}

.header-contents p {
    color: white;
    font-size: 1vw;
}

.header-contents button {
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: #fff;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}

@media (max-width: 1050px) {
    .header {
        height: 35vw;
    }

    .header-contents {
        max-width: 55%;
        gap: 5px;
    }
}

@media (max-width: 750px) {
    .header-contents {
        max-width: 65%;
    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 2vw 4vw;
    }
}