.navbar {
    padding: 20px 0px;
}

.navbar .logo {
    width: 150px;
}

.navbar-menu {
    list-style: none;
    color: #49557e;
    font-size: 18px;
    font-weight: 600;
}

.navbar-right button {
    color: #49557e;
    border: 2px solid tomato;
    padding: 8px 24px;
    border-radius: 50px;
    transition: 0.3s;
}

.navbar-right button:hover {
    background-color: #fff4f2;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li {
    cursor: pointer;
}

.navbar-basket-icon {
    position: relative;
}

.navbar-basket-icon .dot {
    width: 10px;
    height: 10px;
    background-color: tomato;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: -6px;
}

@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 25px;
        font-size: 17px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 6px 20px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 16px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 5px 15px;
        font-size: 15px;
    }
}

@media (max-width:750px) {
    .navbar-menu {
        display: none;
    }
}