footer {
    background-color: #323232;
    color: #d9d9d9;
    padding-top: 80px;
    padding-bottom: 20px;
    margin-top: 100px;
}

.footer-content {
    width: 80%;
}

.footer-content li {
    margin-bottom: 10px;
}

.content-middle h4,
.content-right h4 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer hr {
    width: 80%;
    height: 2px;
    background-color: grey;
    border: none;
}

@media (max-width: 750px) {
    .footer {
        padding-top: 30px;
        margin-top: 30px;
    }

    .description {
        display: none;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .copyright {
        text-align: center;
    }

}