.food-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    animation: fadeIn 1s;
    overflow: hidden;
}

.food-item-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info {
    padding: 20px;
    margin-bottom: 10px;
}

.food-item-name-rating h4 {
    font-size: 20px;
    font-weight: 500;
}

.food-item-name-rating img {
    width: 70px;
}

.food-item-description {
    color: #676767;
    font-size: 12px;
}

.food-item-price {
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}

.food-item-img-container {
    position: relative;
}

.food-item-img-container .add-product {
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: white;
    border-radius: 50px;
    padding: 6px;
}