@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Geom, Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
  }
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  cursor: pointer;
}

.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}