.login-popup {
    position: absolute;
    z-index: 1;
    background-color: #00000090;
    width: 100%;
    height: 100%;
    display: grid;
}

.login-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.popup-title h2 {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.popup-title img {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.popup-inputs input {
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding: 7px 12px;
}

.login-popup-container button {
    background-color: tomato;
    border-radius: 5px;
    padding: 7px 12px;
    color: white;
    font-size: 16px;
}

.popup-condition {
    margin-top: -15px;
}

.popup-condition p {
    font-size: 12px;
}

.popup-condition a {
    text-decoration: underline;
}

.switch-sign-up-form span {
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}